*{
    margin: 0;
    padding: 0;
    font-family: "Bree Serif", sans-serif;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: #fbfbfb;
}
header{
    position: fixed;
    z-index: 11;
    width: 100%;
    background-color: #fbfbfb;
}
header section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #f7f7f7;
    border-bottom: 1px solid #12121224;
    box-shadow: 0px 0px 3px 1px #12121237;
}
header section div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
header section div span{
    padding: 10px;
    font-size: 26px;
    color: #089499;
    font-weight: bold;
    letter-spacing: 1px;
}
header section div span .letter{
    font-family: "Pacifico", "Bree Serif", sans-serif;
    padding: 0px 3px 0px 0px;
}
header section nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
header section nav a{
    margin: 18px 8px;
    padding: 2px 2px;
    font-size: 14px;
    text-decoration: none;
    color: #041214;
    border-bottom: 2px solid transparent;
    letter-spacing: 0.6px;
    transition-duration: 0.3s;
    width: fit-content;
}
header section nav a:hover{
    border-bottom: 2px solid #089499;
    color: #089499;
}
header section div button.nav-btn{
    padding: 0px 20px;
    font-size: 28px;
    border: none;
    background: transparent;
    display: none;
    transition-duration: 0.3s;
}
header section div button.nav-btn:hover{
    color: #089499;
}
.img_container{
    background: #121212 url(./cover.jpg) no-repeat top left;
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0px 0px 0px;
}
.img_container::before{
    content: "";
    min-height: 80vh;
    width: 100%;
    background-color: #121240c2;
    position: absolute;
    z-index: 0;
}
.img_container h1{
    color: #f4f4f4;
    position: relative;
    z-index: 10;
    text-align: center;
    padding: 10px 10px 20px 10px;
    font-size: 45px;
    letter-spacing: 2px;
}
.img_container p{
    color: #e2e2e2;
    position: relative;
    z-index: 10;
    text-align: center;
    width: 90%;
    max-width: 580px;
    margin: 0 auto;
}
.img_container div{
    text-align: center;
    padding: 35px 10px 20px 10px;
}
.img_container div button{
    padding: 10px 30px;
    background-color: #089499;
    position: relative;
    z-index: 10;
    border: 2px solid #12121225;
    color: #fff;
    font-size: 13px;
    border-radius: 4px;
    letter-spacing: 1.4px;
    transition-duration: 0.3s;
}
.img_container div button:hover{
    cursor: pointer;
    color: #0ea6ac;
    background: transparent;
    border: 2px solid #0ea6ac;
}
.text_container{
    padding: 60px 10px 0px 10px;
    text-align: center;
}
.text_container h2{
    color: #121212;
    padding: 8px;
    font-size: 25px;
    letter-spacing: 1.1px;
    font-family: "Architects Daughter", "Bree Serif", sans-serif;
}
.text_container p{
    color: #212121;
    width: 90%;
    max-width: 580px;
    margin: 0 auto;
}
.in_row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 40px 10px 20px 10px;
}
.in_row .col{
    display: flex;
    flex-direction: row;
    width: 94%;
    max-width: 370px;
    margin: 10px auto;
    padding: 4px 4px 14px 4px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.in_row .col.bordered:hover{
    border: 1px solid #12121212;
    box-shadow: 0px 0px 3px 1px #12121221;
}
.in_row .col i.fa{
    font-size: 50px;
    color: #fbfbfb;
    margin: 24px 10px;
    -webkit-text-stroke: 1.4px #048b53;
    text-shadow: 0px 0px 2px #048b53, 0px 0px 2px #048b53;
    width: 160px;
    text-align: center;
}
.in_row .col section{
    display: block;
}
.in_row .col section h6{
    font-size: 22px;
    margin: 6px 0px;
    letter-spacing: 0.8px;
}
.in_row .col section p{
    font-size: 16px;
}
.footer{
    display: block;
    padding: 10px;
    text-align: center;
}
.project{
    width: 100%;
    filter: grayscale(50%);
    border-radius: 3px;
    transition-duration: 0.3s;
}
.project:hover{
    filter: grayscale(0%);
}
.in_row .col.projects{
    display: block;
    text-align: center;
}
.btn{
    padding: 8px 24px;
    margin: 10px 0px 0px 0px;
    background-color: #10a7ac;
    position: relative;
    z-index: 10;
    border: 2px solid #12121225;
    color: #fff;
    font-size: 13px;
    border-radius: 4px;
    letter-spacing: 1.4px;
    transition-duration: 0.3s;
}
.btn:hover{
    cursor: pointer;
    color: #10a7ac;
    background: transparent;
    border: 2px solid #10a7ac;
}
.me{
    width: 60%;
    border-radius: 50%;
    transition-duration: 0.3s;
}
.me:hover{
    border-radius: 40% 40% 10% 10%;
}
.reviewer_data{
    background-color: #12121212;
    border-radius: 4px;
    text-align: left;
    padding: 8px;
    height: 50px;
    border-left: 3px solid #0ea6ac;
}
.reviewer_data img{
    width: 50px;
    border-radius: 50%;
}
.reviewer_data h3{
    margin: -42px 0px 0px 60px;
}
.form{
    margin: 30px 0px 20px 0px;
    padding: 10px;
    text-align: left;
}
.form input, .form textarea{
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0px 0px 0px;
    border: 1px solid #12121212;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0px 0px 3px 1px #12121208;
}
.form textarea{
    height: 180px;
}
.form .btn{
    padding: 8px 40px;
    font-size: 16px;
    background-color: #10a7ac;
}
.form .btn:hover{
    border-color: #10a7ac;
    color: #10a7ac;
    background-color: #10ac6a00;
}
#FOOTER{
    background-color: #121212;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 4px;
}
#FOOTER a{
    color: #fff;
    display: inline-block;
    width: 94%;
    max-width: 500px;
    text-align: left;
}
.top{
    position: fixed;
    bottom: 30px;
    right: 20px;
    height: 40px;
    width: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid #121212b2;
    border-radius: 50%;
    background-color: #f2f2f2b2;
    animation: to-up 1.8s infinite alternate;
}
.to_top{
    font-size: 30px;
    text-decoration: none;
    color: #121212b2;
}
@keyframes to-up {
    0%{
        bottom: 50px;
    }
    50%{
        bottom: 30px;
    }
    100%{
        bottom: 50px;
    }
}

@media only screen and (max-width: 700px){
    header section div{
        justify-content: space-between;
        width: 100%;
    }
    header section nav{
        display: none;
        width: 100%;
    }
    header section nav a{
        display: block;
        font-size: 16px;
    }
    header section div button.nav-btn{
        display: inline-block;
    }
}
@media only screen and (min-width: 701px){
    header section div{
        width: fit-content;
    }
    header section nav{
        display: block;
        width: fit-content;
    }
    header section nav a{
        display: inline-block;
    }
    header section div button.nav-btn{
        display: none;
    }
}